ion-content{
    --background:slategrey
}

.grid-colour{
    background-color: slategray;
    height: 100%;

}
.img:hover{
cursor: pointer;
}
.image-container {
    min-height: 150px;
    min-width: 170px;
    border-radius: 15px 50px;
    background-size: cover;
}

.img{
    object-fit:cover;
}