<ion-header>
  <ion-toolbar>
    <ion-title>ImageView</ion-title>
    <ion-button (click) = "back()" horizontal="end" slot="end" >Back</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="modal-fullscreen">

  <ion-item class = "close-fake" lines="none" text-center>
   

  </ion-item>

  <ion-slides  [options]="sliderOpts" #slider>
    <ion-slide *ngFor = "let img of images">
      <!-- <ion-label class = "label">
        {{iImg.imagesDescription}}
      </ion-label> -->
        <div class="swiper-zoom-container">
          <img [src]="img">
       </div>
    </ion-slide>
  </ion-slides>
  <div class="swiper-button-next" (click)="next()"></div>
  <div class="swiper-button-prev" (click)="prev()"></div>

</ion-content>