<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
    <ion-button (click) = "gallery()" horizontal="end" slot="end" >Gallery</ion-button>
    <ion-button (click) = "back()" horizontal="end" slot="end" >Back</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <ion-card class = "popup">
    <ion-button (click) = "back()" horizontal = "center" >Back</ion-button>
    <div class="login-box">
      <div class="login-content">
        <p class="login-text">Username:</p>
        <input class="input-box" type="email" id="usernameText" placeholder="rynob1998@gmail.com">
      </div>
      <div class="login-content">
        <p  class="login-text">Password:</p>
        <input class="input-box" type="password" id="usernameText" placeholder="reallyLong1!">
      </div>
    </div>


  </ion-card>
  

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
