<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload
    </ion-title>
    
    <ion-button (click) = "back()" horizontal="end" slot="end" >Back</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <ion-card class = "popup">
    <!-- <ion-button (click) = "back()"  >Back</ion-button> -->
    <form>
      <div class="login-content">
        <!-- <ion-item> -->
          <ion-label >cellpone:</ion-label>
          <div>

          </div>
           <input id = "memberId" type="number"  placeholder="Leave the 0 ex. 834122488">
      <!-- </ion-item> -->
      </div>
      <div class="login-content">
        <!-- <ion-item> -->
          <ion-label id = "usernameText">File Path:</ion-label>
          <div>

          </div>
           <input id="bloblocation"  type="text"  placeholder="https://za.pinterest.com/pin/593630794626814199/">
      <!-- </ion-item> -->
      </div>
      <div class="login-content">
        <!-- <ion-item> -->
          <ion-label >Photo Name:</ion-label>
          <div
          ></div>
           <input id = "photoName" type="text"  placeholder="Lion">
      <!-- </ion-item> -->
      </div>
      <div class="login-content">
        <!-- <ion-item> -->
          <ion-label >Photo Description:</ion-label>
          <div>

          </div>
           <input id = "photoDescription" type="text"  placeholder="Die Lion Die Brul RAWWR">
      <!-- </ion-item> -->
      </div>
      <div class="login-content">
        <ion-button (click)="addphoto()" type="submit" id = "uploadbtn">Upload</ion-button>
      </div>
     
    </form>


  </ion-card>
  <ion-card class = "popup">
    <!-- <ion-button (click) = "back()"  >Back</ion-button> -->
    <form>
      <div class="login-content">
        <!-- <ion-item> -->
          <ion-label >cellpone:</ion-label>
          <div>

          </div>
           <input id = "photoId" type="number"  placeholder="Id of the photo in the db">
      <!-- </ion-item> -->
      </div>
      
      <!-- </ion-item> -->
      
      <div class="login-content">
        <ion-button (click)="deletePhoto()" type="submit" id = "uploadbtn">Delete</ion-button>
      </div>
     
    </form>


  </ion-card>
  

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
