<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
    <ion-button (click) = "home()" horizontal="end" slot="end" >Home</ion-button>

    <ion-button (click) = "back()" horizontal="end" slot="end" >Back</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <ion-card class = "popup">
    <!-- <ion-button (click) = "back()"  >Back</ion-button> -->
    <form>
      <div class="login-content">
        <ion-item>
          <ion-label id = "usernameText">cellpone:</ion-label>
           <ion-input  type="email"  placeholder="Leave the 0 ex. 834122488"></ion-input>
      </ion-item>
      </div>
      <div class="login-content">
        <ion-item>
          <ion-label id = "usernameText">Username:</ion-label>
           <ion-input  type="email"  placeholder="rynob1998@gmail.com"></ion-input>
      </ion-item>
      </div>
      <div class="login-content">
        <ion-item>
          <ion-label id = "memberFName">First Name:</ion-label>
           <ion-input  type="text"  placeholder="Ryno"></ion-input>
      </ion-item>
      </div>
      <div class="login-content">
        <ion-item>
          <ion-label id = "memberLName">Last Name:</ion-label>
           <ion-input  type="text"  placeholder="Botes"></ion-input>
      </ion-item>
      </div>
      <div class="login-content">
        <ion-item>
        <ion-label floating>Password:</ion-label>
         <ion-input type="password" name="password" 
        placeholder="reallyLong1!" id="password" #password></ion-input>
      </ion-item>
      </div>
      <div class="login-content">
        <ion-button (click) = "getMemberEmail(username.value,password.value)" type="submit" id = "">Register</ion-button>
      </div>
     
    </form>


  </ion-card>

</ion-content>
