<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button (click) = "login()" horizontal="end" slot="end" >Login</ion-button>
    <!-- <ion-button (click) = "home()" horizontal="end" slot="end" >Home</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="content-shell" [fullscreen]="true">

  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>


  <div class = "landing-box">
    <a class="link link--kukuri" href="#" data-letters="Gallery">Project</a>
    <br>
    <!-- <a class="link link--kukuri" href="#" data-letters="Gallery">Gallery</a> -->
    <br>
    <a class="link link--kukuri" href="#" data-letters="Ryno Botes">Ryno Botes</a>
    <br>
    <a class="link link--kukuri" href="#" data-letters="28503244">Student nr.</a>
    <br>
    <a class="link link--kukuri" href="#" data-letters="Project 2">Project 2</a>


</div>
<p>*hover over text for animation</p>
</ion-content>